<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8"/>
	<meta name="description" content="Proyecto de la primera generación  del 2014 del curso de diseño web online">
	<meta name="viewport" content="width=device-width minimum-scale=1, maximum-scale=1"/>
	<title>Puls2014: Comunidad de personas atractivas y sexy</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/stylesheet.css">
	<script src="../static/js/prefixfree.min.js"></script>
</head>
<body>
	<header>
		<figure id="logo">
			<a href="index.html">
				<img src="../static/img/logo.png"/>
			</a>		
		</figure>
		<h1>Puls2014: Comunidad de personas atractivas y millonarias</h1>
		<figure id="avatar">
			<img src="../static/img/avatar.jpg">
		</figure>
	</header>
	<nav>
		<ul>
			<li><a href="#">Phyton</a></li>
			<li><a href="#">HTML5</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">CSS3</a></li>
			<li><a href="#">Django</a></li>
			<li id="publicar_nav">
				<a href="#" class="icon-pluma" id="mostrar-form">Publicar</a>
				</li>
		</ul>
	</nav>
	<form action="" id="formulario" class="formulario">
		<input type="text" id="titulo" placeholder="Titulo" required/>
		<input type="url" id="link" placeholder="Link" required/>
		<input type="submit" value="Agregar" />
	</form>	
	<aside id="publicidad">	
		<figure>
			<div id="geo"></div>
			<figcaption>Tu Posición</figcaption>
		</figure>
		<figure>			
			<a href="http://mejorando.la">			
				<video width="320" height="240" autoplay loop="loop" preload="preload">
					<source src="../static/video/lecturas.m4v" type="video/mp4"></source>
					<source src="../static/video/lecturas.ogg" type="video/ogg"></source>
					<!-- Actualiza tu navegador -->
				</video>
			</a>
			<figcaption>Publicidad Paga</figcaption>
		</figure>
	</aside>

	<section id="contenido">
		<article class="item">
			<figure class="imagen_item">
				<img src="../static/img/foto.jpg"/>
			</figure>
			<h2 class="titulo_item">
				<a href="#" target="_blank">Digits de Twitter: Tu teléfono es más seguro que tu email</a>
			</h2>
			<div class="autor_item">
				por <a href="#">Joana Muñoz</a>
			</div>
			<div class="datos_item">
				<a class="tag_item" href="#">Pony</a>
				<span>
					Hace <strong>5</strong> minutos
				</span>
			</div>
			<div class="votacion">
				<a href="#" class="up icon-f-arriba"></a>
					720
				<a href="#" class="down icon-f-abajo"></a>
				<a class="comentarios_item" href="#">3</a>
				<a href="#" class="guardar_item icon-estrella"></a>
			</div>
		</article>
		<article class="item">
			<figure class="imagen_item">
				<img src="../static/img/foto.jpg"/>
			</figure>
			<h2 class="titulo_item">
				<a href="#" target="_blank">Monitorea tu aplicación en tiempo real con New Relic</a>
			</h2>
			<div class="autor_item">
				por <a href="#">Joana Muñoz</a>
			</div>
			<div class="datos_item">
				<a class="tag_item" href="#">Pony</a>
				<span>
					Hace <strong>5</strong> minutos
				</span>
			</div>
			<div class="votacion">
				<a href="#" class="up icon-f-arriba"></a>
					720
				<a href="#" class="down icon-f-abajo"></a>
				<a class="comentarios_item" href="#">3</a>
				<a href="#" class="guardar_item icon-estrella"></a>
			</div>
		</article>
		<article class="item">
			<figure class="imagen_item">
				<img src="../static/img/foto.jpg"/>
			</figure>
			<h2 class="titulo_item">
				<a href="#" target="_blank">Digits de Twitter: Tu teléfono es más seguro que tu email</a>
			</h2>
			<div class="autor_item">
				por <a href="#">Joana Muñoz</a>
			</div>
			<div class="datos_item">
				<a class="tag_item" href="#">Pony</a>
				<span>
					Hace <strong>5</strong> minutos
				</span>
			</div>
			<div class="votacion">
				<a href="#" class="up icon-f-arriba"></a>
					720
				<a href="#" class="down icon-f-abajo"></a>
				<a class="comentarios_item" href="#">3</a>
				<a href="#" class="guardar_item icon-estrella"></a>
			</div>
		</article>
		<article class="item">
			<figure class="imagen_item">
				<img src="../static/img/foto.jpg"/>
			</figure>
			<h2 class="titulo_item">
				<a href="#" target="_blank">Las mejores técnicas de email marketing: ¿Cómo evitar llegar a spam?</a>
			</h2>
			<div class="autor_item">
				por <a href="#">Joana Muñoz</a>
			</div>
			<div class="datos_item">
				<a class="tag_item" href="#">Pony</a>
				<span>
					Hace <strong>5</strong> minutos
				</span>
			</div>
			<div class="votacion">
				<a href="#" class="up icon-f-arriba"></a>
					720
				<a href="#" class="down icon-f-abajo"></a>
				<a class="comentarios_item" href="#">3</a>
				<a href="#" class="guardar_item icon-estrella"></a>
			</div>
		</article>
		<article class="item">
			<figure class="imagen_item">
				<img src="../static/img/foto.jpg"/>
			</figure>
			<h2 class="titulo_item">
				<a href="#" target="_blank">Digits de Twitter: Tu teléfono es más seguro que tu email</a>
			</h2>
			<div class="autor_item">
				por <a href="#">Joana Muñoz</a>
			</div>
			<div class="datos_item">
				<a class="tag_item" href="#">Pony</a>
				<span>
					Hace <strong>5</strong> minutos
				</span>
			</div>
			<div class="votacion">
				<a href="#" class="up icon-f-arriba"></a>
					720
				<a href="#" class="down icon-f-abajo"></a>
				<a class="comentarios_item" href="#">3</a>
				<a href="#" class="guardar_item icon-estrella"></a>
			</div>
		</article>
		<article class="item">
			<figure class="imagen_item">
				<img src="../static/img/foto.jpg"/>
			</figure>
			<h2 class="titulo_item">
				<a href="#" target="_blank">Monitorea tu aplicación en tiempo real con New Relic</a>
			</h2>
			<div class="autor_item">
				por <a href="#">Joana Muñoz</a>
			</div>
			<div class="datos_item">
				<a class="tag_item" href="#">Pony</a>
				<span>
					Hace <strong>5</strong> minutos
				</span>
			</div>
			<div class="votacion">
				<a href="#" class="up icon-f-arriba"></a>
					720
				<a href="#" class="down icon-f-abajo"></a>
				<a class="comentarios_item" href="#">3</a>
				<a href="#" class="guardar_item icon-estrella"></a>
			</div>
		</article>
	</section>	
	<footer>
		<p>
			<strong>Powered By Pony®</strong>
		</p>
		<p>
			mejorando.la
		</p>
	</footer>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../static/js/formulario.js"></script>
	<script src="../static/js/geo.js"></script>
	<script src="../static/js/ajax.js"></script>
	<script>
	// window.onload = function() {
	// 	console.log("Ya se disparó el evento OnLoad");
	// }

	// $(function(){
	// 	console.log("Ya se disparó el evento DOMContentLoader");
	// });

	$(function(){
		$('#publicar_nav a').on('click', function(){
			$(this).toggleClass('disabled');
		});
	});
	</script>
</body>
</html>